.d1{
    align-items: center;
    height: 250px;
    margin-top: -100px;
    background-color: white;
    border: solid rgb(167, 222, 238) 0.1px;
    padding: 20px;
   z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
   
}
.s2{
    height: 600px;
 
    background-color: rgba(70, 177, 235, 0.648);
    width: 100%;
    background-image: url(/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.bt{
  color: white;
  background-color: rgb(23, 105, 149);
  border-radius: 10px;
  padding: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid;
}
.s3{
  height: 100px;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  color: white;
  background-color:rgb(23, 105, 149) ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.s1{
  color: white;
  background-color: rgb(23, 105, 149);
  font-size: 15px;
  
  text-align: right;
  height: 40px;
  padding-right: 300px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.bt{
  color: white;
  background-color: rgb(23, 105, 149);
  border-radius: 10px;
  padding: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid;
}